/*
pputt score tracker styling
v1.1

(C) High Quality Ideas LLC

*/
* {
  box-sizing: border-box; }

body {
  font-size: 10px;
  background-color: #E6E7E8; }

.header {
  position: fixed;
  height: 8em;
  width: 100%;
  background-color: #58595B;
  padding: 1em;
  color: white;
  box-shadow: 0px 0px 10px 2px #888888;
  /* Trapezoid top clip
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 5vw)
    );
    */ }

.logo {
  display: block;
  float: left;
  height: 6em;
  margin-top: -0.15em;
  fill: #FFFFFF; }

.total-score-cont {
  float: right; }

.total {
  font-size: 4em;
  display: block;
  text-align: right;
  line-height: 1em; }

.ts-text {
  font-size: 1.5em;
  float: right;
  text-align: right;
  line-height: 1em; }

.scorecard {
  padding-top: 8em; }
  .scorecard .row {
    display: block;
    height: 5em;
    padding: 1em;
    color: #646464; }
    .scorecard .row.active {
      color: black; }
    .scorecard .row.even {
      background-color: #F1F2F2; }

.hole-name-cont {
  float: left; }

.hole-name {
  font-size: 3em;
  line-height: 1em; }

.hole-score-cont {
  float: right; }

.hole-score {
  font-size: 3em;
  line-height: 1em; }

/* Init styling 
   A class to be initially applied and removed by JS as users update their scores...
*/
.hole-row.init {
  color: #999; }
