/*
pputt score tracker styling
v1.1

(C) High Quality Ideas LLC

*/



// COLOR DEFINITIONS
$dk-gray: #E6E7E8;
$lt-gray: #F1F2F2;
$lt-red:  #FF8888;

$active-text: rgb(0,0,0);
$inactive-text: rgb(100,100,100);
    

// VARIABLE E
$header-height: 8em;



//test


* {
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: $dk-gray;
    
    // Make all the text on this page un-selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;        
}





.header {
    position: fixed;
    height: $header-height;
    width: 100%;
    background-color: #58595B;

    padding: 1em;

    color: rgb(255,255,255);
    box-shadow: 0px 0px 10px 2px #888888;
    
    /* Trapezoid top clip
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 5vw)
    );
    */

}

.logo {
  display:block;
  float:left;
  height: 6em;
  margin-top:-0.15em;  
}


// TOTAL SORE

.total-score-cont {
    float:right;

  .total {
      font-size: 4em;
      display:block;
      text-align:right;
      line-height:1em;
  
  }
  
  .ts-text {
      font-size: 1.5em;
      float:right;
      text-align: right;
      line-height:1em;
  }
}


// SCORECARD

.scorecard {
    padding-top: $header-height;
    


  .row {
    display:block;
    height: 5em;

    padding: 1em;      
    
    &.even {
      background-color: $lt-gray;
    }

    // This styling is kinda backwards, but until I can read the jquery docs on NOT-class selectors, this is how it's done :-(
    &.unlocked {
      color: $active-text;
    }
    
    color: $inactive-text;
    
    &.skipped {
      background-color:$lt-red;
      color: white;
    }

    .hole-name {
      font-size: 3em;
      line-height:1em;
      float:left;
    }    
        
    
    
    .hole-score {
      font-size: 3em;
      line-height:1em;
      float: right;
    }   
  }
}



